# Aprendendo Pandas -- 01

In [2]:
import pandas as pd

# Criando um Dataframe a partir de um dicionario

In [3]:
# dataframe = pd.DataFrame()
venda = {'data': ['05/02/2022', '16/02/2022'],
         'valor': [500,300],
         'produto': ['feijão', 'arroz'],
         'qtde': [50,70]
        }

vendas_df = pd.DataFrame(venda)

# Visualização de dados

- print
- display

In [4]:
display(vendas_df)

         data  valor produto  qtde
0  05/02/2022    500  feijão    50
1  16/02/2022    300   arroz    70

In [10]:
vendas_df = pd.read_excel("Vendas.xlsx")
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

# Resumos de Visualização de Dados simples e úteis

     - head(x) mostra as primeiras 5 linhas do DF
     - shape  mostra o tamanho da tabela (linhas, colunas)
     - describe

In [13]:
display(vendas_df.head())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

In [14]:
print(vendas_df.shape)

(93910, 7)

In [15]:
display(vendas_df.describe())

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

Pegar 1 coluna (e os pd.Series)

In [31]:
produtos = vendas_df[['Produto', 'ID Loja', 'Data']]

In [32]:
display(produtos)

                 Produto              ID Loja       Data
0         Sapato Estampa   Iguatemi Esplanada 2019-01-01
1               Camiseta   Iguatemi Esplanada 2019-01-01
2          Sapato Xadrez   Iguatemi Esplanada 2019-01-01
3                Relógio       Norte Shopping 2019-01-02
4           Chinelo Liso       Norte Shopping 2019-01-02
...                  ...                  ...        ...
93905     Mochila Xadrez  Shopping Vila Velha 2019-11-30
93906  Pulseira Listrado    Ribeirão Shopping 2019-11-30
93907     Cueca Listrado    Ribeirão Shopping 2019-11-30
93908     Pulseira Linho     Shopping Morumbi 2019-11-30
93909      Casaco Xadrez     Shopping Morumbi 2019-11-30

[93910 rows x 3 columns]

# .loc, um metodo muito importante

    - pegar 1 linha
    - pegar linhas de acordo com alguma condição
    - pegar linhas e colunas especificadas
    - pegar 1 valor especifico

In [43]:
# pegar 1 linha
display(vendas_df.loc[1:5])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248

In [60]:
# pegar linha que correspondem a uma condição
display(vendas_df.loc[vendas_df['ID Loja'] == "Norte Shopping"])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

In [65]:
# pegar varias linhas e colunas usando loc
# vendas_df[linhas,colunas]
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == "Norte Shopping", ["ID Loja", "Produto", "Quantidade"]]
display(vendas_norteshopping_df)

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

In [68]:
#pegar um valor especifico

print(vendas_df.loc[23214,"Produto"])

Tênis Xadrez

# Adicionar 1 coluna

In [73]:
# A partir de uma coluna que existe
vendas_df['Comissão'] = vendas_df["Valor Final"] *0.05
display(vendas_df)

# Criar uma coluna com valor padrão
vendas_df.loc[:,"Imposto"] = 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

# Adicionar linhas 
    - Linhas de um complemento da base de dados

In [78]:
vendas_dez_df = pd.read_excel("Vendas_Dez.xlsx")
vendas_df = vendas_df.append(vendas_dez_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

# Excluir  linhas e colunas
    - axis = 0 --> excluir linha
    - axis = 1 --> excluir coluna

In [79]:
vendas_df = vendas_df.drop("Imposto", axis=1)
vendas_df

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

# Valores Vazios

    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e ultimo valor)

In [81]:
# deletar linhas e colunas completamente vazios
vendas_df =vendas_df.dropna(how="all")

# deletar linhas que possuem pelo menos 1 valor vazio
vendas_df = vendas_df.dropna()

# preencher valores vazios
    #-prencher com a media da coluna
vendas_df["Comissão"] = vendas_df["Comissão"].fillna(vendas_df["Comissão"].mean())
display(vendas_df)

    # preencher com o ultimo valor
vendas_df = vendas_df.ffill()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.900000
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743133
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743133
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743133
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743133
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743133

# Calculcar indicadores
    - Groupby
    - Value Count

In [88]:
#Value_counts
transações_lojas = vendas_df['ID Loja'].value_counts()
transações_lojas

#Groupby

faturamento_produto = vendas_df[["Produto", "Valor Final"]].groupby("Produto").sum()
faturamento_produto

                  Valor Final
Produto
Bermuda                309150
Bermuda Estampa        328874
Bermuda Linho          445770
Bermuda Liso           313058
Bermuda Listrado       333661
...                       ...
Tênis Estampa          521728
Tênis Linho            608580
Tênis Liso             542640
Tênis Listrado         532908
Tênis Xadrez           518777

[120 rows x 1 columns]

# Mesclar 2 dataframes( Procurar informações de um dataframe em outros)

In [91]:
gerentes_df = pd.read_excel("Gerentes.xlsx")

vendas_df = vendas_df.merge(gerentes_df)
vendas_df

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.900000,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000,Salvador
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000,Salvador
3,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.600000,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.150000,Salvador
...,...,...,...,...,...,...,...,...,...
115172,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,20.743133,Mateus
115173,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,20.743133,Mateus
115174,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,20.743133,Mateus
115175,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,20.743133,Mateus
115176,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,20.743133,Mateus